/*
Colors used:
Primary Color (Light): #0881A3;
Secondary Color (Dark): #1F4E5F;
Black Color: #212121
*/
/* Layout styling */
[class*="col-"] {
  float: left;
  padding: 10px;
  }

  .buttonrow a {
    margin: 0px auto;
    display: block;
}

.container {
  padding: 0 15px;
}

.container-index {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* General styling */
* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  letter-spacing: 0.5px;
  font-weight: 400; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #212121;
}

.container.mobile > h1{
  text-align: center;
  padding-top: 10px;
}

/*
Font styling
*/
h1, h2, h3, h4 {
  line-height: 1.4;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
}


h2 {
  font-size: 1.62em;
  font-weight: 600;
  color: #1F4E5F;
  text-transform: uppercase;
}


h3 {
  font-size: 1.37em;
  font-weight: 600;
  color: #0881A3;
}

h4 {
  font-size: 1.12em;
  font-weight: 600;
  text-transform: uppercase;
}

h5 {
  font-size: 1.12em;
  font-weight: 400;
}

h6 {
  font-size: 1.20em;
  font-weight: 500;
}


/*
Images styling
*/
img {
  width: 100%;
}

/*
Links and buttons styling
*/
a {
  color: #1F4E5F;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #0881A3;
}

a:hover, a:focus {
  color: #0881A3; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #1F4E5F;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #1F4E5F;
  color: #ffffff !important; /* needed to override the default link color */
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 3px;
  border: 2px solid #1F4E5F;
  transition: 0.2s opacity;
  width: 100%;
  max-width: 270px;
}

.button:visited {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #1F4E5F;
  color: #ffffff !important; /* needed to override the default link color */
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px;/* width of the border, type, color */
  transition: 0.2s;
}

.button:hover {
  background-color: #ffffff;
  color: #1F4E5F !important;
  text-decoration: none!important;  /* needed to override the default link underline */
}


.button.secondary {
  background-color: transparent;
  color: #212121 !important;
  text-transform: uppercase;
  border: 2px solid #212121;
  padding: 10px 10px;
  width: 270px;
  text-align: center;
}

.button.secondary:visited {
  background-color: transparent;
  color: #212121 !important;
  text-transform: uppercase;
  border: 2px solid #212121;
}

.button.secondary:hover {
  background-color: #ffffff !important;
  color: #212121 !important;
  border: 2px solid #1F4E5F;
  text-decoration: none!important;
}

/*
Header
*/
header {
  background-color: #ffffff;
  font-size: 0.75em;
  padding: 10px 15px 4px;
  position: fixed;
  z-index: 99999;
  box-shadow: 2px 2px 20px 0px rgba(180, 180, 180, 0.5);
  width: 100%;
}

nav {
  display: inline-block;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  font-weight: 600;
  color: #212121 !important;
  transition: color 2s;
  transition: border-bottom .5s;
  position: relative;
}

.menuanimation {
  transition: color 2s;
  transition: border-bottom .5s;
  position: relative;
}

.menuanimation::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0;
  background: #0881A3;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}


.menuanimation:hover:before,
.menuanimation:focus:before {
  visibility: visible;
  transform: scaleX(1);
  outline: unset;
}


nav > ul > li > a:visited {
  color: #212121 !important;
  text-decoration: none;
}

nav > ul > li > a:hover, a:focus {
  color: #0881A3 !important;
  text-decoration: none;
}

nav > ul > li > a:active {
  color: #0881A3 !important;
  text-decoration: none;
  display: inline-block;
}

.navtoggle li:not(:last-child) {
display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 0;
  text-align: right;
  width: 100%;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  text-align: right;
}

.navtoggle.responsive a  {
  padding: 0;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.logo {
  max-width: 150px;
}

/*
Main
*/
main {
  padding-top: 75px;
}

/*
Footer
*/
footer {
  background-color: rgba(8, 129, 163, 0.05);
  text-align: center;
  padding: 10px 0;
  margin-top: 30px;
  box-shadow: 2px 2px 20px 0px rgba(180, 180, 180, 0.5);
  width: 100%;
}

.contacting {
  max-width: 100px;
}

.social > ul {
  list-style-type: none;
  padding: 0;
}

.social > ul > li {
  display: inline-block;
  padding: 5px;
}

.social > ul > li > a {
  padding: 10px;
}

.fab {
  font-size: 2em;
  color: #212121 !important;
}

#emailmebutton { /*id selector*/
  padding: 25px;
}


/*
Index page
*/
.hero h1 {
  color: #0881A3 !important;
  text-align: left;
}

.hero h6 {
  color: #212121 !important;
}

#hero {
  background-color: rgba(8, 129, 163, 0.05);
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero-pages {
  display:inline-block;
  justify-content: center;
  margin: auto;
  width: 100%;
}

#hero h1 {
  text-align: left; /* Centers text */
}

#hero h6 {
  display:inline-block;
  text-align: left;
  margin-top: 10px;
}

#hero h1 span {
  font-size: 0.7;
  text-align: left;
  font-weight: 400;
  display: block;
}

#hero h6 span {
  padding-top: 10px;
  text-align: left;
  font-weight: 600;
  color: #fc7978;
  display: inline-block;
  text-transform: uppercase !important;
  position: absolute;
  overflow: hidden;
  animation: animate 6s linear infinite;
  opacity:0;
}

@keyframes animate
{
  0%
  {
    opacity: 0;
    transform: translateY(-50px);
  }

  2%
  {
    opacity: 1;
    transform: translateY(0px);
  }

  18%
  {
    opacity: 1;
    transform: translateY(0px);
  }

  20%
  {
    opacity: 0;
    transform: translateY(50px);
  }

  100%
  {
    opacity: 0;
    transform: translateY(50px);
  }

}

#hero h6 span:nth-child(1){
  animation-delay: 0s;

}

#hero h6 span:nth-child(2){
  animation-delay: 2s;

}

#hero h6 span:nth-child(3){
  animation-delay: 4s;

}

#work .row {
  padding-bottom: 25px;
  border-bottom: 3px solid #f2f8fa;
}

#work .row:last-child {
  padding-bottom: 25px;
  border-bottom: none;
}

.arrowforward{
  margin-left: 10px;
  max-width: 33px;
}

.drac {
  text-align: center;
}

.draccover {
  max-width: 160px;
}

.row-index h3{
  margin-top:0;
}

/*
Animation
*/
.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}

  to {transform: translate(200px,50px);}

}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}

  to {transform: translate(100px, 48px);}

}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes color-change {
    0% {fill: #edc655;}

    50% {fill: #fcffad;}

    100% {fill: #f76414;}

}

.sun-index {
  animation: 4s color-change infinite alternate linear;
}

/*
About page
*/
.story-md {
  display:none;
}

.story-sm > h2 {
  display:none;
}

.col {
  margin-top: 0px;
  margin-bottom: 20px;
}

.col.skills {padding-left: 0px;padding-right: 20px;display: inline-block;position: relative;}

.col.skills ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.center-div {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.center-div h3 {
    width: auto;
    display: inline-block;
    position: relative;
}
.skills {
position:relative;
}

.bg {
position: absolute;
background-color: #f2f8fa;
width: 200px;
height: 200px;
z-index: -1;
}

.bg-1 {
top: 80px;
left: 50px;
}

.bg-2 {
top: 80px;
left: 60px;
}

.displaynone {
  display: none;
}

.ucdicon {
  max-width: 90px;
  max-height: 60px;
  float: left;
  display: inline-block;
}

.ucdphase {
  display: block;
}

.ucdphase > h4 {
  max-width: 50%;
  margin: 15px 0 !important;
  display: inline-block;
  padding-left: 10px;
}

.ucdtask > ul {
  margin-top: 15px !important;
  margin-bottom: 30px !important;
  padding-left: 25px!important;
}

.downloadcv {
  padding: 20px 15px;
  text-align: center;
}

.about-arrow {
  display: none;
}

.skills ul >li {
  padding: 7px 0px 7px 0px;
  min-width: 300px;
}

/*
Testimonials
*/
.main-testimonials {
  padding-top: 144px;
}

.testimonials-h1 > h1 {
  margin: 0px 0px;
  padding-top: 20px;
}

.row.testimonials {
  padding-bottom: 20px;
  border-bottom: 5px solid #f2f8fa;
}

.row.testimonials:last-child {
  padding-bottom: 25px;
  border-bottom: none;
}

.testimonials .t2 {
  color: #0881A3;
}

.testimonials .column {
  padding: 10px 0px;
}

.italic {
  font-style : italic;
}

/*
7 seas work page
*/
#hero7seas .container.mobile > h1 {
  color: #212121;
  margin: 0px 0px;
  padding: 15px;
}


.infobox > ul {
  list-style-type: none;
  padding: 0;
}

.infobox > ul > li {
  display: table;
  display: block;
}

.infobox > ul > li > span {
  color: #0881A3;
  font-weight: 600;
  margin: 16px 10px 16px 0px;
}

.infobox > ul > li > p {
  margin-top: 5px;
  margin-bottom: 15px;
}

.projectphases {
  margin-top: 30px;
  margin-bottom: 15px;
}


.projectphases p {
  font-size: 18px;
  font-family: GillSans;
  line-height: 21px;
  color: #8E8E8E;
}

.projectphases > div > a {
  background-color: transparent;
  font-family: GillSans;
  font-size: 36px;
  line-height: 42px;  
  color: #4D4D4D;
  padding: 10px;
  border: 1px solid #0881A3;
  border-radius: 3px;
}

.projectphases > div > a:hover {
  color: #ffffff !important;
  background-color: #0881A3;
  text-decoration: none;
}

.projectphaseslink > a {
  text-transform: uppercase !important;
  font-weight: 600 !important;
  margin-bottom: 15px;
  color: #0881A3;
}

.projectphaseslink > a:hover {
  color: #ffffff;
  background-color: #0881A3;
  text-decoration: none;
}


.product .row {
  margin: 0px -15px;
  padding-top: 20px;
}
.row.workpage.coloredbg.screen-row .row, .row.workpage.screen-row .row {
    padding-top: 0px;
}  
   

.workpage {
  margin-top: 0px; /* 30px top and bottom, 0 left and right */
  margin-bottom: 0px;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 20px;
  padding: 10px 15px;
}

.workpage > div > span {
  font-size: 1.62em;
  font-weight: 600;
  color: #1F4E5F;
  margin-top: 0px;
  margin-bottom: 0px;
}

.workpage > div > h3 {
  color: #212121 !important;
  margin: 10px 0px 10px;
}

.imgcolumn > div {
  margin: 5px 17px;
}

.imgcolumn h4 {
  font-family: Gill Sans;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.screen-title-md-lf > h4 {
  display: none;
}

.screen-title-md-rg > h4 {
  display: none;
}

.img {
  text-align: center;
  -webkit-filter: drop-shadow(2px 2px 5px #d9d9d9);
  filter: drop-shadow(2px 2px 5px #d9d9d9);
  max-width: 260px;
  margin-top: 15px;
}

.workpage-img.prot {
  display: none;
}

.screens {
  text-align: center;
  -webkit-filter: drop-shadow(2px 2px 5px #d9d9d9);
  filter: drop-shadow(2px 2px 5px #d9d9d9);
  max-width: 60px;
  margin: 0 3px;
}

.testrow {
  margin: 15px 0; /* 25px top and bottom, 0 left and right */
  text-align: center;
}


.prototyperow {
  margin: 40px 0;
  text-align: center;
}


.scrollmenu {
overflow: auto;
white-space: nowrap;
}

.scrollmenu > div {
  display: inline-block;
  text-align: center;
  padding: 10px 0px;
  text-decoration: none;
}

.phases {
  border-bottom: 2px solid #0881A3;
  margin-bottom: 10px;
  margin-right: 15px;
}

.projectphases {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin-bottom: 0px;
  text-decoration: none;
}

#arrowtop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 2px solid #0881A3; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 2px; /* Rounded corners */
  background-color: rgba(255,255,255,0.8);
  padding: 10px 15px;
  max-width: 50px;
}

#arrowtop:hover {
  background-color: #ffffff; /* Add a dark-grey background on hover */
}


.arrowtop {
  max-height: 25px;
}

.section1 {
  margin: -96px 0 0 0;
}

.section2 {
  margin: 96px 0 0 0;
}

/*
DRAC work page
*/
.infobox > ul > li {
display: flex;
flex-direction: row;
align-items:center;
}

.infobox > ul > li > span {
margin-left: 0px;
margin-bottom: 10px;
margin-top: 10px;
min-width: 120px;
}

.infobox > ul > li > p {
margin: 10px 10px 10px;
}

#herodrac .container.mobile > h1 {
margin: 0px 0px;
padding: 15px;
}

.imgcolumndrac {
  text-align: center;
}

.imgcolumndrac > div {
  display: inline-block;
}

.prototyperow {
  text-align: center;
}

.prototyperow > div {
  display: inline-block;
}

.drac1 {
  text-align: center;
  -webkit-filter: drop-shadow(2px 2px 5px #d9d9d9);
  filter: drop-shadow(2px 2px 5px #d9d9d9);
  min-height: 198px !important;
  margin-bottom: 20px;
}

.drac2 {
  text-align: center;
  -webkit-filter: drop-shadow(2px 2px 5px #d9d9d9);
  filter: drop-shadow(2px 2px 5px #d9d9d9);
  max-width: 160px !important;
  margin-top: 20px;
}

.coloredbg {
  background-color: #f2f8fa;
  margin-bottom: 0px;
}

/*
fitogram work page
*/

.fitoapp {
  min-width: 190px;
  margin-top: 30px;
}

.fitoappnone {
  display: none;
}

/*
CSS animations work page
*/
.illustration svg {
  max-width: 340px;
  max-height: 340px;
  margin-top: 60px;
}

@keyframes swan-move {
  from {transform: translate(0,50px);}

  to {transform: translate(200px,50px);}

}

.swan {
  animation: 10s swan-move infinite alternate linear;
}

@keyframes color-change-sun {
    0% {fill: #edc655;}

    50% {fill: #de7119;}

    100% {fill: #fcf7bb;}

}

.sun {
  animation: 4s color-change-sun infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}

  to {transform: translate(200px,50px);}

}

.cloud-vancouver-front {
  animation: 8s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}

  to {transform: translate(100px, 48px);}

}

.cloud-vancouver-back {
  animation: 8s cloud-move-reverse infinite alternate linear;
}

@keyframes color-change-mountain {
    0% {fill: #b49c73;}

    50% {fill: #eaac9d;}

    100% {fill: #eae7d9;}

}

.mountain {
  animation: 4s color-change-mountain infinite alternate linear;
}


.discover-wrapper .workpage .example-img .green-arrow {
  display: none;
}


/* ==============================
Small devices (620px or larger)
================================= */
@media only screen and (min-width: 620px) {
  /*
  work page
  */
  
}


/* ==============================
Medium devices (768px or larger)
================================= */
@media (min-width: 768px) {
  header {
    display: block;
    text-align: unset;
    padding: 20px 15px 13px;
  }

  nav {
    display:inline-block;
    text-align: right;
    min-width: 500px;
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child) {
  display: inline-block;
  }

  .navtoggle li:last-child {
  display: none;
  }

  .navtoggle.responsive a {
  padding: 0 15px;
  }

  [class*="col-"] {
  float: left;
  padding: 10px;
  }

  .col-md-6 {
  width: 50%!important;
  }

  /*
  Main
  */
  main {
    padding-top: 70px;
  }

  .container {
  margin: 0 20px;
  }

  /*
  testimonal
  */
  .main-testimonials {
    padding-top: 100px;
  }

  /*
  About page
  */
  #about-page h3 {
    margin-top: 0;
    margin-bottom: 40px;
    min-height: 60px;
  }

  #hero-about {
    background-image: url("../img/aboutme/headerme_desktop_lg.jpg");
    background-size: cover;
    background-position: center;
    padding: -5px;
    padding-left: 0px;
  }

  .hero-mobile {
    display: none;
  }

  .story-md {
    display: block;
  }

  .story-sm > h2 {
    display:inline-block;
  }

  .story-sm > p {
    display:none;
  }

  #hero-about h1 {
    color: #ffffff;
    text-align: left;
    padding-top: 30px;
  }

  #hero-about p {
    color: #ffffff;
    text-align: left;
    max-width: 500px;
    padding: 0px 0px 30px 0px;
  }

  .row-about {
    padding-top: 5px;
  }

  .about-arrow {
    display: block !important;
    max-height: 130px;
    max-width: 130px;
  }

  .repeatprocess {
    display: none;
  }

  #ucd {
    display: flex;
    justify-content: center;
  }

  .arrow {
    align-self: center;
    padding: 50px;
  }

  /*
  7seas work page
  */
  #hero7seas {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/7seas/header.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire */
    padding-bottom: 20px;
  }

  #hero7seas p {
    color: #ffffff;
  }

  #hero7seas .container.mobile > h1 {
    padding: 40px 0px 10px 0px;
    color: #ffffff;
  }

  #hero7seas .container.mobile {
    background-image:none;
    max-height: 100px;
  }

  .workpage:after {
    content: "";
    clear: both;
    display: table;
  }

  .workpage > div > span {
    float: left;
    display: inline-block;
    font-size: 35px;
  }

  .workpage > div > h3 {
    display: inline-block;
    margin: 0px 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 22px;
  }

  .workpage > div > p, ul, h5 {
    margin-top: 0px;
    text-align: left;
    padding-left: 120px;
    font-family: Gill Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.5px;
    color: #212121;
  }

  
  .workpage-img {
    max-width: 375px;
    max-height: 195px;
  }

  .img {
    max-width: 600px;
  }

  .finalrow {
    text-align:center;
  }

  .img.workpage-img {
    max-width: 300px;
  }

  .workpage-img.prot {
    display: inline-block;
  }

  .screens {
    max-width: 110px;
  }

  .screen-title-md-rg > h4 {
    display: inline;
    padding-left: 20px;
  }

  .screen-title-md-lf > h4 {
    display: inline;
    padding-right: 20px;
  }

  .screen-title-md > h4 {
    margin: 0px 0px;
    text-align: center;
  }

  .screen-title-sm {
    display: none;
  }

  /*
  drac work page
  */
  .infobox > ul > li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  }

  .infobox > ul > li > span {
  margin: 10px 10px;
  min-width: 140px;
  }

  .infobox > ul > li > p {
  margin: 10px 10px;
  }

  #herodrac {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/drac/header_md.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire */
  }

  #herodrac .container.mobile {
    background-image:none;
  }

  #herodrac .container.mobile > h1 {
    padding: 40px 0px 10px 0px;
    color: #212121;
  }

  #herodrac p {
    color: #212121;
  }

  .imgcolumn.drac {
  text-align: center;
  }

  .imgcolumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  }


  .col-md-4 {
  width: 33.33%;
  }

  .col-md-8 {
  width: 33.33%;
  }

  .col-md-12 {
  width: 33.33%;
  }

  .workpage.finaldrac {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  }

  .screens.drac {
  margin: 15px !important;
  }


/*
fitogram work page
*/
  .col-md-3 {
  width: 25%;
  }

  .col-md-9{
    width: 75%;
  }

  #herofitogram {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/fitogram/hero_fitogram_md.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire */
  }

  #herofitogram .container.mobile {
    background-image:none;
  }

  #herofitogram .container {
    margin-left: 40px;
  }

  #herofitogram .container.mobile > h1 {
    padding: 50px 0px 10px 0px;
    color: #ffffff;
    text-align: left;
    margin: 0px 0px;
  }

  #herofitogram .container > p {
    color: #ffffff;
    text-align: center;
    max-width: 600px;
    padding-bottom: 20px;
  }

  .screensfito {
    text-align: center;
    -webkit-filter: drop-shadow(2px 2px 5px #d9d9d9);
    filter: drop-shadow(2px 2px 5px #d9d9d9);
    margin: 0 3px;
  }

  .buttonrow {
    text-align: center;
    margin-bottom: 50px;
  }

  .fitogram_images {
    display:inline-block;
    text-align: center;
  }

  .phases-fitogram {
    display: inline-block;
    text-align: center;
  }

  .fitoappnone {
    display: inline-block;
  }

  .discover-wrapper .workpage .example-img {
    height: unset;
    display: flex;
  }

  .discover-wrapper .workpage .green-arrow {
    display: none;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 18px; /* Sets the font size to 18px */
  }

  .col-lg-7 {
  width: 58.33%;
  }

  .col-lg-5 {
  width: 41.66%;
  }

  /*
  index page
  */

  .drac {
    text-align: center;
  }

  .draccover {
    max-width: 280px;
  }

  /*
  about page
  */

  #about-page h3 {
    margin-top: 0;
    margin-bottom: 40px;
    min-height: 30px;
  }

  #hero-about {
    background-image: url("../img/aboutme/headerme_desktop_lg.jpg");
    background-size: cover;
  }

  .hero-mobile {
    display: none;
  }

  #hero-about p {
    max-width: 600px;
  }

  .about-arrow {
    display: block !important;
    max-height: 200px;
    max-width: 200px;
  }

  .container.about > p {
    max-width: 1000px;
  }

  .container.about > h3 {
    text-align: center;
  }

  /*
  testimonial page
  */

  .column.t1 {
  max-width: 600px;
  padding-right: 50px;
  }

  .column.t2 {
  max-width: 600px;
  }


  /*
  7seas workpage
  */

  #hero7seas div {
  max-width: 850px;
  text-align: center;
  }

  #hero7seas .container.mobile {
    background-image:none;
  }

  .workpage-img {
    max-width: 500px;
    max-height: 295px;
  }

  .screens {
    max-width: 135px;
  }

  .img {
    max-width: 800px;
  }

  .workpage.screen-row {
    text-align: center;
  }

  .workpage > div > p {
    margin-top: 0px;
    text-align: left;
    padding-left: 120px;
    max-width: 900px;
  }


  /*
  drac work page
  */

  #herodrac div {
  max-width: 850px;
  text-align: center;
  padding-bottom: 20px;
  }

  .scrollmenu.dracscroll {
  text-align: center;
  }
  
  .workpage.coloredbg.finaldrac {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  }

  /*
  fitogram work page
  */

  #herofitogram .container > p {
    text-align: left;
  }

  .discover-wrapper .workpage .example-img {
    height: 500px;
    display: flex;
  }

  .green-arrow {
    display: flex;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */

@media only screen and (min-width: 1389px) {
  /*
 index page
  */

  .intro {
    padding-left: 30px;
  }

  header {
    padding: 10px 30px 10px;
  }

  
  /*
  about page
  */

  #hero-about {
    background-image: url("../img/aboutme/headerme_desktop_xl.jpg");
    background-size: cover;
    padding: 50px;
  }

  .hero-mobile {
    display: none;
  }


  .row-about {
    padding-top: 10px;
  }


  /*
  drac work page
  */

  .screens-drac {
    max-width: 200px;
  }


  /*
  fitogram work page
  */

  #herofitogram .container > p {
    max-width:760px;
  }
}


.img-fito img {
  padding: 0px;
  margin: 0px auto;
  max-width: max-content;
}

.fitomobile {
  margin-top: 33px!important;
  width: 100%;
}

.col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-3 {
  width: 25%;
}

.col-9{
  width: 75%;
}


/* Adams styling */

.overview {
  margin: 50px 0 0 50px;
}

.overview h1 {
  font-size: 36px;
  color: #383E41;
  font-weight: 700;
}

.overview p {
  font-family: Gill Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-align: left;
}

.overview-info .container {
  margin: 0 50px;
}

.overview-info .infobox ul {
  margin: 0;
  font-weight: 400;
}

.overview-info .infobox span {
  margin: 5px 10px;
  min-width: unset;
}

.overview-info .infobox p {
  color: #8E8E8E;
  margin: 5px 10px;
}

.phases-wrapper .container{
  margin: 60px 0 40px 50px;
}

.discover-wrapper .container {
  margin: 0;
}

.discover-wrapper b {
  font-weight: 600;
}

.discover-wrapper .container .workpage {
  padding: 10px 50px;
}

.discover-wrapper .workpage  h2 {
  font-family: GillSans;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 1.27778px;
  color: #1F4E5F;
}

.discover-wrapper .section-marker {
  font-family: GillSans;
  font-size: 90px;
  line-height: 105px;
  color: #1F4E5F;
}

.green-arrow {
  display: none;
}

.button.secondary.site-link {
  font-family: Gill Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  color: #212121;
  width: 320px;
  height: auto;
  border: 1px solid #1E1E21;
  border-radius: 3px;
}

.drawn-icons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.drawn-icon {
  width: 40%;
}

.drawn-icon img {
  width: 80%;
}

.video-wrapper {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.video-wrapper .video {
  display: flex;
  justify-content: center;
}

.image-set {
  display: flex;
  justify-content: space-around;
}

.image-set img {
  width: unset;
}

.single-image {
  width: 80%;
}

.low-fidelity-images {
  display: flex;
  justify-content: center;
}

.low-fidelity-image {
  display: flex;
  margin: 0 30px;
  justify-content: center;
}

/* Media  */

@media (min-width: 425px) {
  .video-wrapper iframe {
    width: 560px;
    height: 315px;
  }
}
@media (max-width: 425px) {
  .imgcolumn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .low-fidelity-images {
    flex-direction: column;
  }
  .center-div {
    padding-left: 25px;
}
}

@media (max-width: 767px) {
  .video iframe {
    width: 100%;
    height: fit-content;
  }

  .video-wrapper {
    flex-direction: column;
  }

  .drawn-icons {
    flex-direction: column;
  }

  .drawn-icon {
    width: unset;
  }

  .drawn-icon img {
    width: 100%;
  }

  .image-set {
    flex-direction: column;
  }

  .image-set img {
    width: 100%;
  }


  .single-image {
    width: 100%;
  }
}


@media (min-width: 769px) {
  .video-wrapper {
    flex-direction: column;
  }
}
@media (max-width: 599px) {
  .col-xs-6 {
    width: 50%!important;
  }
  .button{
    max-width: 200px;
  }
}

@media (max-width: 767px) {
  .screens.sevensee {
     max-width: initial; 
  }
}
@media (min-width: 600px) and (max-width: 767px){
  .col-sm-6{
      width: 50%!important;
  }
  .center-div {
    padding-left: 15px;
}
}
